div {
    width: 200px;
    box-shadow: 1px 1px 5px rgb(170, 168, 168);
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 3px;
}
#name{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 3px;
}
#mutualfriends {
    color: rgb(150, 147, 147);
    margin-left: 5px;
    margin-bottom: 3px;
}
#b1{
    background-color: rgb(30, 155, 240);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
    }